@model UserAuth.Repository.ViewModels.EditUserViewModel

<form action="POST" id="EditUserForm">
    <div class="w-100">

        <div class="has-validation my-2 mb-4 w-100">
            <input type="text" class="form-control" placeholder="Email" asp-for="Email" readonly>
            <span asp-validation-for="Email" class="text-danger float-start"></span>
        </div>

        <div class="has-validation my-2 mb-4 w-100">
            <input type="text" class="form-control" placeholder="Username" asp-for="UserName">
            <span asp-validation-for="UserName" class="text-danger float-start"></span>
        </div>


        <div class="has-validation my-2 mb-4 w-100">
            <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName">
            <span asp-validation-for="FirstName" class="text-danger float-start"></span>
        </div>
        <div class="has-validation my-2 mb-4 w-100">
            <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName">
            <span asp-validation-for="LastName" class="text-danger float-start"></span>
        </div>

        <div class="d-flex gap-4">
            <div class="has-validation my-2 mb-4 w-100">
                <input type="date" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-ddThh:mm")" placeholder="Date of Birth" asp-for="DateOfBirth">
                <span asp-validation-for="DateOfBirth" class="text-danger float-start"></span>
            </div>


            <div class="has-validation my-2 mb-4 w-100">
                <input type="text" class="form-control" placeholder="Phone Number" asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber" class="text-danger float-start"></span>
            </div>
        </div>


        <div class="text-danger">@TempData["ErrorMessage"]</div>
        <div class="">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</form>


<partial name="_ValidationScriptsPartial" />