
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<h1>Dashboard</h1>

<div id="UserContent"></div>

<partial name="_EditUserModalPartial" />
<partial name="_DeleteUserModalPartial" />

 @section scripts {  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
    </script>
    <script src="~/js/toastr_script.js"></script>
    <script src="~/js/dashBoard_script.js"> </script>
}

