@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


<div class="d-flex w-100 justify-content-between container mt-4">
    <h2>User Detials</h2>
    <div class="d-flex gap-2">
        <a asp-controller="Dashboard" asp-action="UserDetails" class="btn btn-secondary mt-2">Back To Users</a>
    </div>
</div>

<div id="logContent">
</div>
<div class="loader-class d-flex justify-content-center align-items-center">
    <span class="loader"></span>
</div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
    </script>
    <script src="~/js/toastr_script.js"></script>
    <script src="~/js/log_Script.js"></script>

}