html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


/* colors */
.btn-color{background-color: #45AD82 ;}



/* password eye */
.password-section .bi-eye {
  position: absolute;
  top: 50%;
  right: 15px;

  transform: translateY(-50%);
  cursor: pointer;
}

.password-section .bi-eye-slash {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}

.active {
  display: block;
}

.inactive {
  display: none;
}


/* login content */
.LoginContent {
  width: 400px;
}