@{
    ViewData["Title"] = "404 ERROR";
}

<div class="bg-error d-flex flex-column justify-content-start align-items-center w-100 h-100">

    <h1 style="margin-top: 200px;" class=" mt-6 text-green display-1">@ViewData["Title"]</h1>

    <h3 class=""> URL not recognized</h3>


</div>