@model UserAuth.Repository.ViewModels.EmailViewModel
<div class="LoginContent">
    <h1 class="display-4 mb-4">Reset password</h1>
    <div class="w-100">
        <form asp-action="ForgetPassword" asp-controller="Home" method="post" class="d-flex flex-column">
            <div class=" has-validation my-2 mb-4 w-100">
                <h6>Enter your email, </h6>
                <h6 class="mb-3">We'll send you link to reset your password</h6>

                <input type="text" class="form-control" placeholder="Email" asp-for="ToEmail" >
                <span asp-validation-for="ToEmail" class="text-danger float-start">@TempData["ErrorMessage"]</span>
            </div>
            @if (TempData["SuccessMessage"] != null)
            {
                <span asp-validation-for="ToEmail" class="text-success">@TempData["SuccessMessage"]</span>
            }
            <div class="">
                <button type="submit" class="w-100 btn btn-color text-white rounded-3">Reset Password</button>
            </div>
            <a class="text-decoration-none text-center mt-3" asp-action="Index" asp-controller="Home">back to login</a>

        </form>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        toastr.options.closeButton = true;
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage, 'Error', errorMessage { setTimeout: 3000 });
        }

        var successMessage = "@TempData["SuccessMessage"]";
        if (successMessage) {
            toastr.success(errorMessage, 'success', { timeOut: 3000 });
        }
    </script>
}