@model UserAuth.Repository.ViewModels.LoginViewModel
<div class="LoginContent">
    <h1 class="display-4 ">Welcome,</h1>
    <h1 class="display-4 mb-4">Login here</h1>
    <div class="w-100">
        <form asp-action="Index" asp-controller="Home" method="post" class="d-flex flex-column">
            <div class=" has-validation my-2 mb-4 w-100">
                <input type="text" class="form-control" placeholder="Email" asp-for="Email" >
                <span asp-validation-for="Email" class="text-danger float-start"></span>
            </div>

            <div class="has-validation my-2 mb-4 w-100">
                <div class="position-relative password-section">
                    <input type="password" class="form-control" id="exampleInputPassword"  placeholder="password" asp-for="Password" >
                    <div class="eye">
                        <i class="bi bi-eye openeye eye inactive"></i>
                        <i class="bi bi-eye-slash closeeye eye active"></i>
                    </div>
                </div>

                <span class="text-danger float-start " asp-validation-for="Password">@TempData["error"]</span>
            </div>

            <div class="d-flex justify-content-between ">
                <div>
                    <input type="checkbox" class="form-check-input mb-4" id="rememberMe" asp-for="RememberMe">
                    <label class="form-check-label" for="rememberMe">Remember me</label>            
                </div>
                <div>
                    <a class="text-decoration-none" asp-action="ForgetPassword" asp-controller="Home">Forget Password?</a>
                </div>
            </div>

            <div class="">
                <button type="submit" class="w-100 btn btn-color text-white rounded-3">Login</button>

            </div>
        </form>
    </div>
</div>


@section scripts {  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        window.successMessage = '@TempData["SuccessMessage"]';
        window.errorMessage = '@TempData["ErrorMessage"]';
    </script>
    <script src="~/js/toastr_script.js"></script>
}